<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <ul>
      <li>
        <a href="/users/selection_all_users">Listar todos Usuários</a>
        <a href="/users/page_insert_user">Página de inserir usuários</a>
        <a href="/users/page_delete_user">Página de deletar usuários</a>
        <a href="/users/page_update_user">Página de para atualizar os dados</a>
      </li>
    </ul>
  </body>
</html>
