<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update User</h1>
    <form action="/users//update_user" method="post">
      <p>Digite o nome para atualizar:</p>
      <input type="text" name="nameUpdate" placeholder="Digite o nome" />
      <p>Dados novos:</p>
      <input type="text" name="name" placeholder="Digite o nome" />
      <input type="email" name="email" placeholder="Digite o email" />
      <input type="submit" value="Atualizar" />
    </form>
    <a href="/">Voltar ao inícios</a>
  </body>
</html>
